.text-center {
    text-align: center;
}

.m-2 {
    margin: 2%;
}

h1 {
    font-family: sans-serif;
    font-weight: 700;
}

.dateRange {
    display: inline;
}

p {
    font-family: sans-serif;
    margin: 30px;
}

.date {
    border: solid;
    border-color: rgb(155, 78, 218);
    border-radius: 6px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 1000;
    margin: 10px;
    cursor: pointer;
    background: rgb(155, 78, 218);
    color: white;
}

.parent,
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-cont {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
}

#video {
    width: 100%;
    height: 100%;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.control-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 5px;
    transition: 0.1s;
}

.mirror-me {
    transform: scaleX(-1);
}

.control-icon:not(.mirror-me):hover {
    transform: scale(1.05);
}

.control-icon.mirror-me:hover {
    transform: scale3d(-1.05, 1.05, 1);
}

#datesCheckbox {
    margin-right: 20px;
}

[hidden] {
    display: none;
}

#fountainG {
    position: relative;
    width: 96px;
    height: 12px;
    margin: 30px auto auto auto;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 12px;
    height: 12px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.035s;
    -o-animation-duration: 1.035s;
    -ms-animation-duration: 1.035s;
    -webkit-animation-duration: 1.035s;
    -moz-animation-duration: 1.035s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#fountainG_1 {
    left: 0;
    animation-delay: 0.416s;
    -o-animation-delay: 0.416s;
    -ms-animation-delay: 0.416s;
    -webkit-animation-delay: 0.416s;
    -moz-animation-delay: 0.416s;
}

#fountainG_2 {
    left: 12px;
    animation-delay: 0.5225s;
    -o-animation-delay: 0.5225s;
    -ms-animation-delay: 0.5225s;
    -webkit-animation-delay: 0.5225s;
    -moz-animation-delay: 0.5225s;
}

#fountainG_3 {
    left: 24px;
    animation-delay: 0.619s;
    -o-animation-delay: 0.619s;
    -ms-animation-delay: 0.619s;
    -webkit-animation-delay: 0.619s;
    -moz-animation-delay: 0.619s;
}

#fountainG_4 {
    left: 36px;
    animation-delay: 0.7255s;
    -o-animation-delay: 0.7255s;
    -ms-animation-delay: 0.7255s;
    -webkit-animation-delay: 0.7255s;
    -moz-animation-delay: 0.7255s;
}

#fountainG_5 {
    left: 48px;
    animation-delay: 0.832s;
    -o-animation-delay: 0.832s;
    -ms-animation-delay: 0.832s;
    -webkit-animation-delay: 0.832s;
    -moz-animation-delay: 0.832s;
}

#fountainG_6 {
    left: 60px;
    animation-delay: 0.9385s;
    -o-animation-delay: 0.9385s;
    -ms-animation-delay: 0.9385s;
    -webkit-animation-delay: 0.9385s;
    -moz-animation-delay: 0.9385s;
}

#fountainG_7 {
    left: 72px;
    animation-delay: 1.035s;
    -o-animation-delay: 1.035s;
    -ms-animation-delay: 1.035s;
    -webkit-animation-delay: 1.035s;
    -moz-animation-delay: 1.035s;
}

#fountainG_8 {
    left: 84px;
    animation-delay: 1.1415s;
    -o-animation-delay: 1.1415s;
    -ms-animation-delay: 1.1415s;
    -webkit-animation-delay: 1.1415s;
    -moz-animation-delay: 1.1415s;
}



@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -o-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -ms-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -moz-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}